<!DOCTYPE html>
<html>
<head lang="en">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="myApp">

过滤器可以使用一个管道字符（|）添加到表达式和指令中。<br/><br/>

AngularJS 过滤器可用于转换数据：
currency	格式化数字为货币格式。<br/>
filter	从数组项中选择一个子集。<br/>
lowercase	格式化字符串为小写。<br/>
orderBy	根据某个表达式排列数组。<br/>
uppercase	格式化字符串为大写。<br/>
<br/>

uppercase 过滤器将字符串格式化为大写：
<div ng-controller="personCtrl">
    <p>姓名为 {{ lastName | uppercase }}</p>
</div>

lowercase 过滤器将字符串格式化为小写：
<div ng-app="myApp" ng-controller="personCtrl">
    <p>姓名为 {{ lastName | lowercase }}</p>
</div>

currency 过滤器将数字格式化为货币格式：
<div ng-controller="costCtrl">
    <input type="number" ng-model="quantity">
    <input type="number" ng-model="price">
    <p>总价 = {{ (quantity * price) | currency }}</p>
</div>

orderBy 过滤器根据表达式排列数组：
<div ng-controller="namesCtrl">
    <ul>
        <li ng-repeat="x in names | orderBy:'country'">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>
<div>

filter 过滤器从数组中选择一个子集：
<div ng-controller="namesCtrl2">
    <p><input type="text" ng-model="test"></p>
    <ul>
        <li ng-repeat="x in names | filter:test | orderBy:'country'">
            {{ (x.name | uppercase) + ', ' + x.country }}
        </li>
    </ul>
</div>

</body>
<script>
    var app = angular.module('myApp', []);

    app.controller('personCtrl', function($scope) {
        $scope.lastName = "ZhangSan";
    });

    app.controller('costCtrl', function($scope) {
        $scope.quantity = 4;
        $scope.price = 64;
    });

    app.controller('namesCtrl', function($scope) {
        $scope.names = [
            {
                "name":"zhangsan",
                "country":"shanghai"
            },
            {
                "name":"lisi",
                "country":"beijing"
            },
            {
                "name":"wangwu",
                "country":"shenzheng"
            },
            {
                "name":"liuliu",
                "country":"hangzhou"
            }
        ];
    });

    app.controller('namesCtrl2', function($scope) {
        $scope.names = [
            {
                "name":"zhangsan",
                "country":"shanghai"
            },
            {
                "name":"lisi",
                "country":"beijing"
            },
            {
                "name":"wangwu",
                "country":"shenzheng"
            },
            {
                "name":"liuliu",
                "country":"hangzhou"
            }
        ];
    });

</script>
</html>