<!DOCTYPE html>
<html>
<head lang="en">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="myApp">

ng-click 指令定义了 AngularJS 点击事件。<br/>
<div ng-controller="myCtrl1">
    <button ng-click="count = count + 1">点我！</button>
    <p>{{ count }}</p>
</div>
<br/>

<div ng-controller="myCtrl2">
    <button ng-click="toggle()">显示/隐藏</button>
    <p ng-show="myVar">AngularJS 点击事件</p>
</div>

</body>
<script>
    var app = angular.module('myApp', []);

    app.controller("myCtrl1", function($scope) {
        $scope.count = 0;
    });

    app.controller("myCtrl2", function($scope) {
        $scope.toggle = function() {
            $scope.myVar = !$scope.myVar;
        };
    });

</script>
</html>