<!DOCTYPE html>
<html>
<head lang="en">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="myApp">

以下 HTML input 元素被称为 HTML 控件:<br/>
input 元素<br/>
select 元素<br/>
button 元素<br/>
textarea 元素<br/>
<br/>

<div ng-controller="formCtrl">
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name:<br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
</div>

</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.master = {firstName: "John", lastName: "Doe"};
        $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();
    });
</script>
</html>